In [14]:
import pandas as pd
dataset = pd.read_csv("e-shop clothing 2008.csv")
dataset.tail()

       year;month;day;order;country;session ID;page 1 (main category);page 2 (clothing model);colour;location;model photography;price;price 2;page
165469            2008;8;13;1;29;24024;2;B10;2;4;1;67;1;1
165470             2008;8;13;1;9;24025;1;A11;3;4;1;62;1;1
165471             2008;8;13;1;34;24026;1;A2;3;1;1;43;2;1
165472            2008;8;13;2;34;24026;3;C2;12;1;1;43;1;1
165473             2008;8;13;3;34;24026;2;B2;3;1;2;57;1;1

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
  
#Importing the dataset
dataset = pd.read_csv(
          'https://archive.ics.uci.edu/ml/machine-learning-'+
          'databases/iris/iris.data',sep= ',', header= None)
data = dataset.iloc[:, :]
  
#checking for null values
print("Sum of NULL values in each column. ")
print(data.isnull().sum())
#seperating the predicting column from the whole dataset
X = data.iloc[:, :-1].values
y = dataset.iloc[:, 4].values
  
#Encoding the predicting variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)
  
#Splitting the data into test and train dataset
X_train, X_test, y_train, y_test = train_test_split(
              X, y, test_size = 0.3, random_state = 0)
  
#Using the random forest classifier for the prediction
classifier=RandomForestClassifier()
classifier=classifier.fit(X_train,y_train)
predicted=classifier.predict(X_test)
#printing the results
print ('Confusion Matrix :')
print(confusion_matrix(y_test, predicted))
print ('Accuracy Score :',accuracy_score(y_test, predicted))
print ('Report : ')
print (classification_report(y_test, predicted))

Sum of NULL values in each column.
0    0
dtype: int64